
<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div style="margin-bottom: 8px;">Copyright 2019 &copy; Dan Binebrink Studio</div>
                  <div>
                    <a href="https://www.linkedin.com/in/dan-binebrink-78303013/" target="_blank"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>&nbsp;&nbsp;|&nbsp;&nbsp; 
                    <a href="https://www.github.com/dbinebrink" target="_blank"><i class="fa fa-github"></i>&nbsp;&nbsp;GitHub</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>