

<header id="about">
    <div class="container" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text condensed text-center">
                    <h1 class="name">About <span class="span-special">Me</span></h1>
                    <span class="skills">
                    A little more about me, if you're interested...
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about">
    <div class="container white-middle-box">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2><sup>_____</sup>&nbsp; Who is this Dan guy? &nbsp;<sup>_____</sup></h2>
            </div>
        </div>
        <div class="row fun-stuff">
            <div class="col-lg-7 col-lg-offset-1 about-padding">

              <p>I design and code solutions for the web, it's my passion and my career. I've served a variety of clients and industries over the past several years and have gained some extraordinary experience, all of which couldn't possibly be listed in a simple portfolio site. I am now working back in Maryland (where I grew up), after a few years of private sector work in California.</p>

              <p>Plenty of big companies and organizations have seen me as their go-to web guy. I've been trusted by big organizations with their web sites, front-ends, and applications, like NASA, Costco, General Motors, Air Canada, Center for Medicare and Medicaid, and Generali Global Assistance. From coding front-ends for large government web applications to making brochure web sites for smaller companies, I've gained lots of great front-end, web design/development, and UX/UI experience. This web site you're looking at is coded with Angular, Typescript, Sass, HTML 5, CSS 3, and Bootstrap 4.</p>

              <p>The web site examples in this online portfolio are just a sampling of my work, let me know if you'd like to see more. I'm happy to talk to you about any web, UX, visual design or other situations your company is dealing with. </p>

            </div>
            <div class="col-lg-4 text-center">
                <img src="assets/img/dan-original.jpg" alt="Me" class="dan img-responsive" style="border: solid 1px #777;">
            </div>
        </div>    

    </div>
</section>
