<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" [routerLink]="['/']">Dan Binebrink Portfolio <i class="fa fa-home"></i></a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item hvr-underline-from-left" (click)="hideNavbar()">
                <a class="nav-link" [routerLink]="['/portfolio']" [routerLinkActive]="['active-link']">Portfolio</a>
            </li>
            <li class="nav-item hvr-underline-from-left" (click)="hideNavbar()">
                <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active-link']">About</a>
            </li>
            <li class="nav-item hvr-underline-from-left" (click)="hideNavbar()">
                <a class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="['active-link']">Contact</a>
            </li>
        </ul>
    </div>
</nav>
