<header id="portfolio">
  <div class="container" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text condensed">
          <h1 class="name">Selection of My <span class="span-special">Portfolio</span></h1>
          <span class="skills">This is a selection of web and front-end projects I've worked on recently. I've built
            everything from front-ends for massive B2C web applications, to coding attractive microsites and landing
            pages for small companies. Ensured intuitive UX/UI throughout, ensured best coding practices and tooling,
            and
            I always work closely and concurrently with DevOps, Marketing, and upper management. </span>
        </div>
      </div>
    </div>
  </div>
</header>



<section id="portfolio">
  <div class="container-fluid" style="max-width: 1350px;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><sup>_____</sup> Recent Web Projects <sup>_____</sup></h2>
      </div>
		</div>
		
    <div class="row justify-content-center">
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalAdg)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>ADG</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/adg/adg1.jpg" class="img-fluid">
        </a>
        <p class="portfolio-caption">Affinity Development Group</p>
			</div>
			
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalIdp)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>IDP</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/idp/idp2.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">Identity Protection Online</p>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalGti)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>GTI</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/gti/gti3.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">Generali Travel Insurance</p>
			</div>
			
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalGm)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>GM Microsite</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/gm/gm3.jpg" class="img-fluid">
        </a>
        <p class="portfolio-caption">Costco Auto + GM Microsite</p>
			</div>
			
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalBnb)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>B&amp;B VP</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/bnb-vp/bnb-vp2.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">B&amp;B VP</p>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalVrma)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>VRMA</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/vrma/vrma.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">VRMA Landing Page</p>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalBbdc)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>BBDC Site</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/blue-button/blue-button1.jpg" class="img-fluid">
        </a>
        <p class="portfolio-caption">Blue Button 2.0 Developer Conference</p>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalSchaefer)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Schaefer Mechanical</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/schaefer/schaefer.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">Schaefer Mechanical</p>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalVrc)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>VRC</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/vrc/vrc2.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">Vacation Rental Coverage</p>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalHilltop)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Hilltop Lawn Care</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/lawncare/lawn-care3.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">Hilltop Lawn Care</p>
			</div>
			
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalAir)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Air Canada</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/air-canada/air-canada.jpg" class="img-fluid" alt="Web Image">
        </a>
        <p class="portfolio-caption">Air Canada</p>
			</div>
			
      <div class="col-sm-4 portfolio-item">
        <a class="portfolio-link" (click)="modalOpen(modalPcg)">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Focus Group Site</strong>
            </div>
          </div>
          <img src="assets/img/portfolio/focus-group/focus-group1.jpg" class="img-fluid">
        </a>
        <p class="portfolio-caption">PCG Focus Group Web Site</p>
      </div>

      <!-- <div class="col-sm-4 portfolio-item">
		<a class="portfolio-link" (click)="modalOpen(modalOi)">
		  <div class="caption">
			<div class="caption-content">
			  <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>OI Sudamerica</strong>
			</div>
		  </div>
		  <img src="assets/img/portfolio/oisudamerica/oisudamerica2.jpg" class="img-fluid" alt="Web Image">
		</a>
		<p class="portfolio-caption">Osmosis Inversa Sudamerica</p>
	  </div> -->
      <!-- <div class="col-sm-4 portfolio-item">
		<a class="portfolio-link" (click)="modalOpen(modalEmails)">
		  <div class="caption">
			<div class="caption-content">
			  <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Emails</strong>
			</div>
		  </div>
		  <img src="assets/img/portfolio/emails/emails.jpg" class="img-fluid" alt="Web Image">
		</a>
		<p class="portfolio-caption">Email Design/Coding</p>
	  </div> -->
    </div>
  </div>
</section>



<!-- Portfolio Modals -->
<!-- modals here, using angular-bootstrap modals, todo: add ngClass 'fade' for animation -->

<ng-template #modalAdg let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Affinity Development Group</h2>
    <p>Created a new corporate site for a development firm I worked for. I decided to make everything clean and vibrant
      with a nice video background on the home page. HTML, CSS, Javascript, jQuery plugins for widgets, carousels, form
      validation, etc. Simple imagery + iconography, clean typography, responsive design, looks good on mobile/tablet.</p>
    <img src="assets/img/portfolio/adg/adg1.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/adg/adg2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/adg/adg3.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="http://www.affinitydev.com" target="_blank">http://www.affinitydev.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalGm let-modal>
  <div class="modal-body text-center port-modal">
    <h2>GM Microsite</h2>
    <p>Affinity Development Group's biggest client was Costco Auto, and they wanted a holiday microsite built for
      General Motors (GM). This site was designed around a few big sections of modern UI and plenty of hero imagery for
      Chevrolet, Buick, GMC, Cadillac. Used HTML 5, CSS 3, Javascript, jQuery, Bootstrap. I worked in Visual Studio for
      coding, TFS for source control, and with several very talented .NET developers to create this one. The original
      site has been archived here.</p>
    <img src="assets/img/portfolio/gm/gm1.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/gm/gm2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/gm/gm3.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="http://www.costcoautogm.com" target="_blank">http://www.costcoautogm.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalIdp let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Identity Protection Online</h2>
    <p>This was a large identity protection-related web application that I built most of the front-end for. It's a
      white-label branded site used by many companies (Geico, Altour, and others). Lots of Javascript, jQuery, HTML,
      CSS, Sass, responsive design. Worked in BackboneJS framework to produce an excellent user experience.</p>
    <img src="assets/img/portfolio/idp/idp.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/idp/idp2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/idp/idp3.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="http://altplus.idprotectiononline.com" target="_blank">http://altplus.idprotectiononline.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalGti let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Generali Travel Insurance</h2>
    <p>This is a large e-commerce site I worked on, designed to sell travel insurance with a single-page application
      feel. I built a lot of the front-end, which was coded on top of an enterprise CMS called Adobe Experience
      Manager, where I built many of the front-end components and integrated them into AEM, and even used a little
      React and JSX for a SPA feel throughout the purchase path. Used IntelliJ as my primary IDE for this one.</p>
    <img src="assets/img/portfolio/gti/gti.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/gti/gti2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/gti/gti3.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="https://www.generalitravelinsurance.com" target="_blank">https://www.generalitravelinsurance.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalSchaefer let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Schaefer Mechanical</h2>
    <p>Plumbing and HVAC business web site that I made a couple years ago for a Maryland business. </p><br>
    <img src="assets/img/portfolio/schaefer/schaefer.jpg" class="img-fluid" alt="Another Amazing Portfolio Image"><br>
    <img src="assets/img/portfolio/schaefer/schaefer2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/schaefer/schaefer3.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="http://www.schaefermechanical.com" target="_blank">http://www.schaefermechanical.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalVrc let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Vacation Rental Coverage</h2>
    <p>Company that sells vacation rental coverage for travellers. This microsite is a good example of another simple
      and clean "brochure" web site.</p>
    <img src="assets/img/portfolio/vrc/vrc.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/vrc/vrc2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="http://www.vacationrentalcoverage.com" target="_blank">http://www.vacationrentalcoverage.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalVrma let-modal>
  <div class="modal-body text-center port-modal">
    <h2>VRMA Landing Page</h2>
    <p>This landing page is a redesign to present a cleaner and simpler look. I added a simple Javascript carousel into
      the hero/header area, basic form validation, and an AJAX script that sends the data into Microsoft Dynamics.</p>
    <img src="assets/img/portfolio/vrma/vrma.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/vrma/vrma2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <!-- <a href="http://www.csainsuranceservices.com/vrma" target="_blank">http://www.csainsuranceservices.com/vrma</a> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalAir let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Air Canada Microsite</h2>
    <p>Microsite built for Air Canada's web site (pulled in through an iFrame on their site) used on their web site for
      travel insurance. Not much to it, made the FAQ into a question/answer jQuery accordion list, which is always
      nice. Yes, iFrames are not ideal for developers, but sometimes that's what you have to work with.</p>
    <img src="assets/img/portfolio/air-canada/air-canada.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalBnb let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Bed and Breakfast Microsite</h2>
    <p>This was a small dual-branded microsite I made for bedandbreakfast.com and was hosted on a subdomain of
      vacationprotection.com, a merger site basically. Worked with a Java developer who coded the back-end with
      Thymeleaf/Spring, I did the front-end.</p>
    <img src="assets/img/portfolio/bnb-vp/bnb-vp.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/bnb-vp/bnb-vp2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="https://bedandbreakfast.vacationprotection.com" target="_blank">https://bedandbreakfast.vacationprotection.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalOi let-modal>
  <div class="modal-body text-center port-modal">
    <h2>OI Sudamerica</h2>
    <p>Company selling reverse water osmosis membranes to facilities in South America, my first "international"
      microsite. I've worked on other multi-lingual sites since then.</p>
    <img src="assets/img/portfolio/oisudamerica/oisudamerica.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/oisudamerica/oisudamerica2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <!-- <a href="http://www.oisudamerica.com" target="_blank">http://www.oisudamerica.com</a> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalHilltop let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Hilltop Lawn Care</h2>
    <p>Lawn services company in Maryland called Hilltop Lawn Care, another straightforward and enjoyable site to build.
      Was neat to work with a web site with lots of vibrant green imagery. Carroll County is a nice little area in
      northern Maryland where I grew up.</p>
    <img src="assets/img/portfolio/lawncare/lawn-care1.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/lawncare/lawn-care2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <!-- <img src="assets/img/portfolio/lawncare/lawn-care3.jpg" class="img-fluid" alt="Another Amazing Portfolio Image"> -->
    <a href="http://www.lawncarehilltop.com" target="_blank">http://www.lawncarehilltop.com</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalBbdc let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Blue Button Developer Conference</h2>
    <p>Developed an event web site for the Center for Medicare and the Blue Button 2.0 Developer Conference, an event
      for top Medicare web developers. Used an event platform called Cvent to manage the database, front-end code,
      custom data tags, and back-end administration. Modified a custom premium theme to look attractive and
      professional. Ensured Section 508 Compliance throughout. The web site was built using Cvent, which is currently
      desktop-only, no mobile-support right now. </p>
    <img src="assets/img/portfolio/blue-button/blue-button1.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/blue-button/blue-button2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="http://www.cvent.com/d/mgq35l" target="_blank">http://www.cvent.com/d/mgq35l</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalPcg let-modal>
  <div class="modal-body text-center port-modal">
    <h2>PCG Focus Group</h2>
    <p>Developed another web site using Cvent event platform and modified the front-end style and back-end logic.
      Managed the database, waitlist functionality, different registration workflows. The web site was built using
      Cvent, which is currently desktop-only, no mobile-support as of now.</p>
    <img src="assets/img/portfolio/focus-group/focus-group1.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/focus-group/focus-group2.jpg" class="img-fluid" alt="Another Amazing Portfolio Image">
    <a href="http://www.cvent.com/d/kgqsqh" target="_blank">http://www.cvent.com/d/kgqsqh</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalEmails let-modal>
  <div class="modal-body text-center port-modal">
    <h2>Emails</h2>
    <p>I've coded and designed dozens of emails, based on a few unique brands. Email campaigns can be a fun challenge,
      because the coding is a fusion of 1998 best practices and modern best practices. I've used Silverpop, Mailchimp,
      Green Arrow, and other email systems to send out these campaigns to hundreds of thousands of recipients. I test
      the emails I code in at least Outlook, Gmail, iPhone Mail, and any other mail clients and devices I have access
      to. This ensures a consistent look and feel for all mail recipients.</p>
    <img src="assets/img/portfolio/emails/emails.jpg" class="img-fluid img-centered" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/emails/emails2.jpg" class="img-fluid img-centered" alt="Another Amazing Portfolio Image">
    <img src="assets/img/portfolio/emails/emails3.jpg" class="img-fluid img-centered" alt="Another Amazing Portfolio Image">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
