
<header id="portfolio">
  <div class="container" tabindex="-1">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-text condensed">
                  <h1 class="name">Selection of My <span class="span-special">Portfolio</span></h1>
                  <span class="skills">This is a selection of web and front-end projects I've worked on recently. I've built everything from front-ends for massive B2C web applications, to coding attractive microsites and landing pages for small companies. Ensured intuitive UX/UI throughout, created hundreds of attractive graphics, and I always work closely and concurrently with IT, Marketing, and upper management. </span>
              </div>
          </div>
      </div>
  </div>
</header>


<section id="portfolio">
  <div class="container-fluid" style="max-width: 1350px;">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2><sup>_____</sup> Recent Web Projects <sup>_____</sup></h2>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal-adg" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>ADG</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/adg/adg1.jpg" class="img-responsive">
              </a>
              <p class="portfolio-caption">Affinity Development Group</p>
          </div>            
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>IDP</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/idp/idp.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Identity Protection Online</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal-gm" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>GM Microsite</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/gm/gm1.jpg" class="img-responsive">
              </a>
              <p class="portfolio-caption">General Motors Microsite</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>GTI</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/gti/gti.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Generali Travel Insurance</p>
          </div>

          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Schaefer Mechanical</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/schaefer/schaefer.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Schaefer Mechanical</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>VRC</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/vrc/vrc.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Vacation Rental Coverage</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Hilltop Lawn Care</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/lawncare/lawn-care1.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Hilltop Lawn Care</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>VRMA</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/vrma/vrma.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">VRMA Landing Page</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Air Canada</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/air-canada/air-canada.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Air Canada</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal-focus-group" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Focus Group Site</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/focus-group/focus-group1.jpg" class="img-responsive">
              </a>
              <p class="portfolio-caption">PCG Focus Group Web Site</p>
          </div>

          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal-blue-button" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>BBDC Site</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/blue-button/blue-button1.jpg" class="img-responsive">
              </a>
              <p class="portfolio-caption">Blue Button 2.0 Developer Conference</p>
          </div>
          
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>B&amp;B VP</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/bnb-vp/bnb-vp.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">B&amp;B VP</p>
          </div>
    <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>OI Sudamerica</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/oisudamerica/oisudamerica.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Osmosis Inversa Sudamerica</p>
          </div>
          <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Old Portfolio</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/danbinebrink/danbinebrink.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Old Portfolio Site</p>
          </div>
    <div class="col-sm-4 portfolio-item">
              <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                      <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i><br> Details: <strong>Emails</strong>
                      </div>
                  </div>
                  <img src="assets/img/portfolio/emails/emails.jpg" class="img-responsive" alt="Web Image">
              </a>
              <p class="portfolio-caption">Email Design/Coding</p>
          </div>
      </div>
    </div>
</section>



<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal-blue-button" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Blue Button Developer Conference</h2>
                      <p>Developed an event web site for the Center for Medicare and the Blue Button 2.0 Developer Conference, an event for top Medicare web developers. Used an event platform called Cvent to manage the database, front-end code, custom data tags, and back-end administration. Modified a custom premium theme to look attractive and professional. Ensured Section 508 Compliance throughout. The web site was built using Cvent, which is currently desktop-only, no mobile-support right now. </p>
                      <img src="assets/img/portfolio/blue-button/blue-button1.jpg" class="img-responsive img-centered" alt=""><br><br>
                      <img src="assets/img/portfolio/blue-button/blue-button2.jpg" class="img-responsive img-centered" alt="">
                      <a href="http://www.cvent.com/d/mgq35l" target="_blank">http://www.cvent.com/d/mgq35l</a> 
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-focus-group" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>PCG Focus Group</h2>
                      <p>Developed another web site using Cvent event platform and modified the front-end style and back-end logic. Managed the database, waitlist functionality, different registration workflows. The web site was built using Cvent, which is currently desktop-only, no mobile-support as of now.</p>
                      <img src="assets/img/portfolio/focus-group/focus-group1.jpg" class="img-responsive img-centered" alt=""><br><br>
                      <img src="assets/img/portfolio/focus-group/focus-group2.jpg" class="img-responsive img-centered" alt="">
                      <a href="http://www.cvent.com/d/kgqsqh" target="_blank">http://www.cvent.com/d/kgqsqh</a> 
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-gm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>GM Microsite</h2>
                      <p>Affinity Development Group's biggest client was Costco Auto, and they wanted a holiday microsite built for General Motors (GM). This site was designed around a few big sections of modern UI and plenty of hero imagery for Chevrolet, Buick, GMC, Cadillac. I worked in Visual Studio for coding, TFS for source control, and with several very talented .NET developers to create this one. The original site has been archived here.</p>
                      <img src="assets/img/portfolio/gm/gm1.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/gm/gm2.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/gm/gm3.jpg" class="img-responsive img-centered" alt="">
                      <a href="http://www.costcoautogm.com" target="_blank">http://www.costcoautogm.com</a> 
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-adg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Affinity Development Group</h2>
                      <p>Created a new corporate site for a development firm I worked for. I decided to make everything clean and vibrant with a nice video background on the home page. Simple imagery + iconography, clean typography, responsive design, looks good on mobile/tablet.</p>
                      <img src="assets/img/portfolio/adg/adg1.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/adg/adg2.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/adg/adg3.jpg" class="img-responsive img-centered" alt="">
                      <a href="http://www.affinitydev.com" target="_blank">http://www.affinitydev.com</a> 
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <!-- <div class="col-lg-8 col-lg-offset-2"> -->
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Identity Protection Online</h2>
                      <p>This was a large identity protection-related web application that I built most of the front-end for.  It's a white-label branded site used by many companies (this example is for Altour). Was a great experience, it was a thorough challenge in terms of the amount of CSS work to do.  Worked with a few Java devs who wrote the back-end.  Lots of HTML, CSS, Sass, responsive design. Used Sublime as my primary code editor, makes life easy.</p>
                      <img src="assets/img/portfolio/idp/idp.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/idp/idp2.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/idp/idp3.jpg" class="img-responsive img-centered" alt="">
                      <a href="http://altplus.idprotectiononline.com" target="_blank">http://altplus.idprotectiononline.com</a> 
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <!-- this is the close button generated image -->
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Generali Travel Insurance</h2>
                      <p>This is a large e-commerce site designed to sell travel insurance, a huge project I was on for about a year when I worked in the travel insurance industry. I built a lot of the front-end, which was coded on top of an enterprise CMS called Adobe Experience Manager, where I built many of the components with HTML, CSS, JS, XML, Sass, and even a little React. Used IntelliJ as my primary IDE for this one.</p>
                      <img src="assets/img/portfolio/gti/gti.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/gti/gti2.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/gti/gti3.jpg" class="img-responsive img-centered" alt="">
          <a href="https://www.generalitravelinsurance.com" target="_blank">https://www.generalitravelinsurance.com</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Schaefer Mechanical</h2>
                      <p>This was a Wordpress-based web site for a small plumbing/HVAC business I made a couple years ago. Coded a WP child theme, WP admin configuration, made some plumbing-related graphics, etc. Pretty fun.</p><br>
                      <img src="assets/img/portfolio/schaefer/schaefer1.jpg" class="img-responsive img-centered" alt=""><br>
                      <img src="assets/img/portfolio/schaefer/schaefer2.jpg" class="img-responsive img-centered" alt="">
          <a href="http://www.schaefermechanical.com" target="_blank">http://www.schaefermechanical.com</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Vacation Rental Coverage</h2>
                      <p>This microsite is a good example of a simple Wordpress site I built. Fairly simple informational site with some simple descriptive copy and nice photography and typography. I have a decent amount of Wordpress experience, let me know if you have questions.</p>
                      <img src="assets/img/portfolio/vrc/vrc.jpg" class="img-responsive img-centered" alt="">
                      <!-- <img src="assets/img/portfolio/vrc/vrc.jpg" class="img-responsive img-centered" alt=""> -->
          <a href="http://www.vacationrentalcoverage.com" target="_blank">http://www.vacationrentalcoverage.com</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>VRMA Landing Page</h2>
                      <p>This landing page is a redesign to present a cleaner and simpler look.  I added a simple JS carousel into the hero/header area, thought that was a nice touch.  I also converted the lead form from a PHP mail form into an AJAX script that sends the data into Microsoft Dynamics. Used Sublime as my primary code editor, it's got some great packages/plugins.</p>
                      <img src="assets/img/portfolio/vrma/vrma.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/vrma/vrma2.jpg" class="img-responsive img-centered" alt="">
                      <!-- <a href="http://www.csainsuranceservices.com/vrma" target="_blank">http://www.csainsuranceservices.com/vrma</a> -->
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Air Canada Microsite</h2>
                      <p>This was another microsite for Air Canada (pulled in through an iFrame) used on their web site for travel insurance. Not much to it, made the FAQ into a question/answer jQuery accordion list, which is always nice.</p>
                      <img src="assets/img/portfolio/air-canada/air-canada.jpg" class="img-responsive img-centered" alt="">
                      <!-- <img src="assets/img/portfolio/air-canada/air-canada.jpg" class="img-responsive img-centered" alt=""> -->
                      <!-- <a href="http://www.csainsuranceservices.com/air-canada" target="_blank">http://www.csainsuranceservices.com/air-canada</a> -->
                      <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Bed and Breakfast Microsite</h2>
                      <p>This was a small dual-branded microsite I made for bedandbreakfast.com and was hosted on a subdomain of vacationprotection.com, a merger site basically. Worked with a Java developer who coded the back-end with Thymeleaf/Spring.</p>
                      <img src="assets/img/portfolio/bnb-vp/bnb-vp.jpg" class="img-responsive img-centered" alt="">
                      <a href="https://bedandbreakfast.vacationprotection.com" target="_blank">https://bedandbreakfast.vacationprotection.com</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>OI Sudamerica</h2>
                      <p>A small business web site for a company selling reverse water osmosis membranes to facilities in South America, my first "international" microsite. I've worked on other multi-lingual sites since then.</p>
                      <img src="assets/img/portfolio/oisudamerica/oisudamerica.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/oisudamerica/oisudamerica2.jpg" class="img-responsive img-centered" alt="">
                      <!-- <a href="http://www.oisudamerica.com" target="_blank">http://www.oisudamerica.com</a> -->
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Dan Binebrink Portfolio (Old)</h2>
                      <p>This is an older version of my portfolio site, I was a bit more graphic design-focused a few years ago. Nowadays I'm a much more technical and less interested in graphics and video, but I thought I'd share this old archive if you're curious about my artistic talent.  I know Photoshop, Illustrator, InDesign and the whole Creative Suite (Cloud) very well at this point.</p>
                      <img src="assets/img/portfolio/danbinebrink/danbinebrink.jpg" class="img-responsive img-centered" alt="">
          <a href="http://www.danbinebrink.com/old" target="_blank">http://www.danbinebrink.com/old</a>
                      <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Emails</h2>
                      <p>I've coded and designed dozens of emails, based on a few unique brands. Email campaigns can be a fun challenge, because the coding is a fusion of 1998 best practices and 2016 best practices. I've used Silverpop, Mailchimp, Green Arrow, and other email systems to send out these campaigns to hundreds of thousands of recipients. I test the emails I code in at least Outlook, Gmail, iPhone Mail, and any other mail clients and devices I have access to. This ensures a consistent look and feel for all mail recipients.</p>
                      <img src="assets/img/portfolio/emails/emails.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/emails/emails2.jpg" class="img-responsive img-centered" alt="">
                      <img src="assets/img/portfolio/emails/emails3.jpg" class="img-responsive img-centered" alt="">
                      <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-lg-offset-1">
                  <div class="modal-body">
                      <h2>Hilltop Lawn Care</h2>
                      <p>Another Wordpress site I created for a lawn services company in Maryland called Hilltop Lawn Care, another straightforward and enjoyable site to build. Was neat to work with a web site with lots of vibrant green imagery. Carroll County is a nice little area in northern Maryland.</p>
                      <img src="assets/img/portfolio/lawncare/lawn-care1.jpg" class="img-responsive img-centered" alt="">
                      <a href="http://www.lawncarehilltop.com" target="_blank">http://www.lawncarehilltop.com</a>
                      <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
