@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Abril Fatface', Arial, sans-serif
}

h2 {
    font-family: 'Passion One', Arial, sans-serif
}

p {
    font-family: 'Roboto', Arial, sans-serif
}

