@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    // quick reset
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #111;
    background-image: url('./assets/img/background.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;   // leave this here, helps with angular animations
}
@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden !important;
    }
}
h1 {
    font-family: 'Abril Fatface', Arial, sans-serif
}

p {
    font-family: 'Roboto', Arial, sans-serif
}
.modal-content h2, section h2 {
    font-family: 'Abril Fatface', Helvetica, Arial, sans-serif;
    color: #15c8e4;
    margin-bottom: 30px;
    font-size: 38px !important;
}


@media screen and (max-width: 480px) {
    sup {
        display: none;
    } 
}

.container-fluid {
    padding: 0;
}

section {
    background-color: #fff;
    padding: 50px 10px;
}
header {
    color: #fff;
    text-align: center;
}

header h1 {
    display: block;
    font-family: "Abril Fatface", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 66px;
    line-height: 70px;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin: 130px auto 20px;
}
header#index-page h1 {
    margin-top: 10px;
}

header {
    min-height: 380px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
header#about {
    background-image: url('assets/img/background-bridge.jpg');
}
header#contact {
    background-image: url('assets/img/background-city.jpg');
}
header#portfolio {
    background-image: url('assets/img/background-laptop.jpg');
}

span.span-special {
    font-family: "Abril Fatface", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #15c8e4;
    display: inline-block;
    transform: scale(1);
    filter: saturate(100%);
    scale: 1;
    padding-left: 0;
    transition: transform 0.3s, padding-left 0.5s;
}
@media screen and (max-width: 480px) {
    header h1, span.span-special {
        font-family: "Abril Fatface", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 38px;    
        line-height: 42px;
    }
    header span.skills {
        display: block;
        margin-bottom: 40px;    
    }
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
