

<header id="about">
  <div class="container" tabindex="-1">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-text condensed text-center">
                <h1 class="name">My <span class="span-special">Skillset</span></h1>
                  <span class="skills">
                  I define myself as a senior front-end developer nowadays, but I'm also a UI/UX developer, and web designer. I've gained an extraordinary amount of diverse and robust experience with almost every front-end technology, version control, IDE's, collaboration tools, and project management systems.
                  </span>
              </div>
          </div>
      </div>
  </div>
</header>

<section id="about">
  <div class="container white-middle-box">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2><sup>_____</sup>&nbsp; Technologies &nbsp;<sup>_____</sup></h2>
          </div>
      </div>
      <div class="row fun-stuff">
          <div class="col-lg-11 col-lg-offset-1 about-padding">

              
            <table class="table table-responsive dan-table">
                <tr>
                    <td class="left">Front End Development:</td>
                    <td class="right">JavaScript, jQuery, ES6/7+, Angular, TypeScript, CoffeeScript, Node/NPM, Webpack, MVC, OOP, Unit Testing, Karma/Jasmine</td>
                </tr>
                <tr>
                    <td class="left">Web Design:</td>
                    <td class="right">HTML 5, CSS 3, Sass/Scss, Bootstrap, Flexbox, CSS Grid, Responsive Design, HAML</td>
                </tr>
                <tr>
                    <td class="left">Source Control:</td>
                    <td class="right">Git, GitKraken, GitHub, GitLab, Bitbucket, Git Command Line, Subversion, TFS, Sourcetree</td>
                </tr>
                <tr>
                    <td class="left">Code Editors:</td>
                    <td class="right">Visual Studio Code, Sublime, IntelliJ, Visual Studio, Atom, Brackets, RubyMine</td>
                </tr>
                <tr>
                    <td class="left">Project Management:</td>
                    <td class="right">Basecamp, Jira, Workfront, Invision, Hipchat, Confluence, Slack, Webex Teams</td>
                </tr>
                <tr>
                    <td class="left">CMS:</td>
                    <td class="right">WordPress (themes, plugins, etc), DNN, Adobe Experience Manager, Alfresco, Ingeniux, Exigo</td>
                </tr>
                <tr>
                  <td class="left">Database:</td>
                  <td class="right">MySQL, Postgresql, MongoDB, SQL Server, Firebase, SQL, JQL, Workbench</td>
                </tr>
                <tr>
                  <td class="left">Email:</td>
                  <td class="right">HTML Email Coding, Responsive Emails Dynamics, MailChimp, SilverPop, Litmus Builder/Tester</td>
                </tr>
                <tr>
                    <td class="left">Misc:</td>
                    <td class="right">Agile, Scrum, Sprints, Kanban, Section 508 Compliance, Microsoft Dynamics, Google Analytics, Google Tag Manager, SEO, A/B Testing, Being Awesome</td>
                </tr>
            </table>



          </div>
      </div>    

      
  </div>
</section>

