<!-- DESKTOP MARKUP HERE FOR SCROLLMAGIC STUFF -->

<div class="parallax slide hidden-sm hidden-xs" id="parallax">
        <div class="row">
    
            <header id="index-page">
                <!-- <video id="bgvid" playsinline autoplay muted loop>
                    <source src="assets/vid/background-vid.webm" type="video/webm">
                    <source src="assets/vid/background-vid.mp4" type="video/mp4">
                </video> -->
    
                <div class="container-fluid" id="maincontent" tabindex="-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-text">
    
                                <h1 class="name">Web solutions for <span class="span-special">your organization.</span></h1>
    
                                <span class="skills">My name is <span class="tooltip2">Dan Binebrink<span class="tooltiptext">Rhymes with "wine drink".</span></span> and I create web sites. Delivering amazing web solutions with the right team is my goal. I am a fusion of front-end coding talent, artistic sensibility, and general awesomeness.</span>
                                    <br>
                                    <a class="button-special">View My Portfolio <i class="fa fa-arrow-circle-right"></i></a>
                                
                                <div class="or-scroll-down hidden-xs hidden-sm">
                                    Or scroll down...
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
    
            </header>
    
        </div>
    </div>
    