<!-- <video playsinline autoplay muted loop>
    <source src="assets/vid/background-vid.webm" type="video/webm">
    <source src="assets/vid/background-vid.mp4" type="video/mp4">
</video> -->
 
<div class="parallax slide" id="parallax">
    <div class="row">
        <header id="index-page">
            <div class="container-fluid" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="name">I am a Front-End Dev with <span class="span-special">Angular (1 - 7)</span></h1>
                        <p class="skills m-auto">My name is <a title="Rhymes with wine drink." class="tooltip2">Dan Binebrink</a> and I create web applications and sites. I know Angular, Typescript, ES6 / 7+, Javascript, jQuery, Bootstrap, HTML 5, CSS 3.  This site is built with the latest version of Angular.
                        </p>
                        <button class="btn button-special mr-4" [routerLink]="['/portfolio']">View My Portfolio <i class="fa fa-arrow-circle-right"></i></button>
                        <button class="btn button-special" href="http://www.github.com/dbinebrink" target="_blank">Or Github <i class="fa fa-github"></i></button>
                        <div class="or-scroll-down">Or scroll down...</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<div class="slide-aa subslide slide">
    <div class="row">
        <div class="col-md-6 text-center max-width-500">
            <p><i class="fa fa-code faa-shake animated-hover text-orange2 font-90"></i></p>
            <p>I do web / front-end development, Angular, React, responsive and mobile design, UX / UI, and <strong class="text-orange2 hvr-float-shadow">much more.</strong></p> 
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/ipad.png" alt="" class="img-responsive ipad">
        </div>
    </div>
</div>

<div class="slide-a subslide slide">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/mac-large.png" alt="" class="img-responsive imac">
        </div>
        <div class="col-md-6 text-center max-width-500">
            <p><i class="fa fa-pencil faa-horizontal animated-hover text-orange font-70"></i></p>
            <p>Looking for a technical person with creative sense? I am a developer who knows how to make web sites that <strong class="text-orange hvr-float-shadow">look good</strong>.</p>
        </div>
    </div>
</div>

<div class="slide-b subslide slide">
    <div class="row">
        <div class="col-md-6 max-width-500">
            <p><i class="fa fa-puzzle-piece faa-spin animated-hover text-orange"></i></p>
            <p>User experience (UX) is a big part of a <strong class="text-orange hvr-float-shadow">better web experience</strong>. When customers are happy, you will increase revenue and brand&nbsp;value.</p>
        </div>
        <div class="col-md-6">
            <img src="assets/img/iphone.png" alt="" class="img-responsive iphone">
        </div>
    </div>
</div>

<div class="slide-c subslide slide">
    <div class="row">
        <div id="opacity" class="col-md-12">
            <p class="text-dark">Here's a donut for scrolling this far.</p>
            <p><img src="assets/img/donut.png" class="img-responsive fa faa-shake animated-hover idonut" alt=""></p>
        </div>
    </div>
</div>

<div class="slide-d subslide slide">
    <div class="row">
        <div class="col-md-4 text-center max-width-500">
            <p><i class="fa fa-gears faa-shake animated-hover text-orange"></i></p>
            <p>I've worked with many different technologies and systems over the years. My <strong class="text-orange hvr-float-shadow">skillset</strong> can do a lot for your company.</p>
        </div>
        <div class="col-md-8 text-center">
        
            <table class="table table-responsive dan-table">
                <tr>
                    <td class="left">Front End:</td>
                    <td class="right">Angular, TypeScript, Node/NPM, Javascript, ES6/7+, Webpack, MVC, OOP, Unit Testing, Karma/Jasmine</td>
                </tr>
                <tr>
                    <td class="left">Web Design:</td>
                    <td class="right">HTML 5, CSS 3, Javascript, jQuery, SASS/LESS, Bootstrap, Flexbox, Responsive Design</td>
                </tr>
                <tr>
                    <td class="left">Source Control:</td>
                    <td class="right">Git, GitKraken, GitHub, GitLab, Bitbucket, Git Command Line, Subversion, TFS, Sourcetree</td>
                </tr>
                <tr>
                    <td class="left">Code Editors:</td>
                    <td class="right">Visual Studio Code, Sublime, IntelliJ, Visual Studio, Atom, Brackets, Emacs</td>
                </tr>
                <tr>
                    <td class="left">Email:</td>
                    <td class="right">HTML Email Coding, Responsive Emails Dynamics, MailChimp, SilverPop, Litmus, Green Arrow</td>
                </tr>
                <tr>
                    <td class="left">Project Management:</td>
                    <td class="right">Basecamp, Jira, Workfront, Invision, Hipchat, Confluence, Slack</td>
                </tr>
                <tr>
                    <td class="left">CMS:</td>
                    <td class="right">WordPress (themes, plugins, etc), DNN, Adobe Experience Manager, Alfresco, Ingeniux, Exigo</td>
                </tr>
                <tr>
                    <td class="left">Misc:</td>
                    <td class="right">Section 508 Compliance, Microsoft Dynamics, Google Analytics, Google Tag Manager, SEO, A/B Testing, Being Awesome</td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="slide-e subslide slide" id="slide-e">
    <div class="row">
        <div class="col-md-12">
            <p>Check out my portfolio for more examples.</p><br>
            <button class="btn button-special mr-4" [routerLink]="['/portfolio']">View&nbsp;My&nbsp;Portfolio <i class="fa fa-arrow-circle-right"></i></button>
        </div>
    </div>
</div>
  


<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page"><i class="fa fa-arrow-up"></i></a>
	    
      