<div class="parallax slide" id="parallax">
    <div class="row">
        <header id="index-page">
            <div class="container-fluid" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="d-none d-lg-inline-block">Hi. I'm a Front-End Web Dev with <span class="span-special">Angular.</span></h1>
                        <h1 class="d-block d-sm-none">Front-End <span class="span-special">Developer</span></h1>  <!-- this appears on mobile only -->
                        <p class="skills m-auto pl-1 pr-1">My name is <span class="tooltip-container">Dan Binebrink <span class="tooltip-text">Rhymes with wine drink.</span></span> and I create web sites and web applications. I know Angular, Typescript, ES6+, Javascript, jQuery, Bootstrap, HTML 5, CSS 3.  This site is built with the latest version of Angular (v7).
                        </p>

                        <a class="btn button-special mr-3" [routerLink]="['/portfolio']">View My Portfolio <i class="fa fa-arrow-circle-right"></i></a>
                        <a class="btn button-special ml-2 d-none d-lg-inline-block" href="http://www.github.com/dbinebrink" target="_blank">Or Github <i class="fa fa-github"></i></a>
                        <div class="or-scroll-down d-none d-lg-block">Or scroll down...</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<div class="slide-aa subslide slide">
    <div class="row">
        <div class="col-md-6 text-center max-width-500">
            <p><i class="fa fa-code faa-shake animated-hover text-orange2 font-90"></i></p>
            <p>I do web site / front-end development, Angular, Javascript/jQuery, Bootstrap, responsive and mobile design, UX / UI, and <strong class="text-orange2 hvr-float-shadow">much more.</strong></p> 
        </div>
        <div class="col-md-6 text-center d-none d-lg-inline-block">
            <img src="assets/img/mac.png" alt="" class="img-fluid mac">
        </div>
    </div>
</div>

<div class="slide-a subslide slide">
    <div class="row">
        <div class="col-md-6 d-none d-lg-inline-block">
            <img src="assets/img/ipad.png" alt="" class="img-fluid ipad">
        </div>
        <div class="col-md-6 text-center max-width-500">
            <p><i class="fa fa-pencil faa-horizontal animated-hover text-orange font-70"></i></p>
            <p>Looking for a front-end developer with creative sense? I am a technical person with some artistic <strong class="text-orange hvr-float-shadow">common sense</strong>.</p>
        </div>
    </div>
</div>

<div class="slide-b subslide slide">
    <div class="row">
        <div class="col-md-6 max-width-500">
            <p><i class="fa fa-puzzle-piece faa-spin animated-hover text-orange"></i></p>
            <p>User experience (UX) is a big part of a <strong class="text-orange hvr-float-shadow">better web experience</strong>. When customers are happy, you will increase revenue and brand&nbsp;value.</p>
        </div>
        <div class="col-md-6 d-none d-lg-inline-block">
            <img src="assets/img/iphone.png" alt="" class="img-fluid iphone">
        </div>
    </div>
</div>

<div class="slide-c subslide slide">
    <div class="row">
        <div id="opacity" class="col-md-12">
            <p class="text-dark">Here's a donut for scrolling this far.</p>
            <p><img src="assets/img/donut.png" class="img-fluid fa faa-shake animated-hover idonut" alt=""></p>
        </div>
    </div>
</div>

<div class="slide-d subslide slide d-none d-lg-inline-block">
    <div class="row">
        <div class="col-md-4 text-center max-width-500">
            <p><i class="fa fa-gears faa-shake animated-hover text-orange"></i></p>
            <p>I've worked with many different technologies and systems over the years. My <strong class="text-orange hvr-float-shadow">skillset</strong> can do a lot for your company.</p>
        </div>
        <div class="col-md-8 text-center">
        
            <table class="table table-responsive dan-table">
                <tr>
                    <td class="left">Front End:</td>
                    <td class="right">Angular, TypeScript, Node/NPM, Javascript, ES6/7+, Webpack, MVC, OOP, Unit Testing, Karma/Jasmine</td>
                </tr>
                <tr>
                    <td class="left">Web Design:</td>
                    <td class="right">HTML 5, CSS 3, Javascript, jQuery, SASS/LESS, Bootstrap, Flexbox, Responsive Design</td>
                </tr>
                <tr>
                    <td class="left">Source Control:</td>
                    <td class="right">Git, GitKraken, GitHub, GitLab, Bitbucket, Git Command Line, Subversion, TFS, Sourcetree</td>
                </tr>
                <tr>
                    <td class="left">Code Editors:</td>
                    <td class="right">Visual Studio Code, Sublime, IntelliJ, Visual Studio, Atom, Brackets, Emacs</td>
                </tr>
                <tr>
                    <td class="left">Email:</td>
                    <td class="right">HTML Email Coding, Responsive Emails Dynamics, MailChimp, SilverPop, Litmus, Green Arrow</td>
                </tr>
                <tr>
                    <td class="left">Project Management:</td>
                    <td class="right">Basecamp, Jira, Workfront, Invision, Hipchat, Confluence, Slack</td>
                </tr>
                <tr>
                    <td class="left">CMS:</td>
                    <td class="right">WordPress (themes, plugins, etc), DNN, Adobe Experience Manager, Alfresco, Ingeniux, Exigo</td>
                </tr>
                <tr>
                    <td class="left">Misc:</td>
                    <td class="right">Section 508 Compliance, Microsoft Dynamics, Google Analytics, Google Tag Manager, SEO, A/B Testing, Being Awesome</td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="slide-e subslide slide" id="slide-e">
    <div class="row">
        <div class="col-md-12">
            <p>Check out my portfolio for more examples.</p><br>
            <button class="btn button-special mr-4" [routerLink]="['/portfolio']">View&nbsp;My&nbsp;Portfolio <i class="fa fa-arrow-circle-right"></i></button>
        </div>
    </div>
</div>
  


<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page"><i class="fa fa-arrow-up"></i></a>
	    
      